<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
		<header>
			<h1><a href="#">Bug.gg</a></h1>
		</header>
        <div id="imagewrap">
            <img src="/image/616d626c61636b2e706e67.png" alt="My Image">
        </div>
        <div id="wrap">
            <form method="get" action="/summoner">
                <input type="text" id="name" name="summonername" required minlength="4" maxlength="13" size="10">
                <div id="searchbutton">
                    <input type='submit' value='search'/>
                </div>
            </form>
        </div>
        <footer>
            <div id="footerdiv">
                <nav>
                    <a href='#' target='_blank'>Blog</a> |
                    <a href='#' target='_blank'>Github</a>
                </nav>
                <p>
                    <span>name : hamster </span><br/>
                    <span>email : ssoboro1@gmail.com</span><br/>
                    <span>Copyright 2022. hamster. All Rights Reserved.</span>
                </p>
            </div>
        </footer>
	</div>
</body>
</html>